<?xml version="1.0" encoding="utf-8"?>
<!-- ILM Portal on IIS (ASP.NET Core Module v2, in-process). The app pool identity is the gMSA. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Ilm.Web.dll" stdoutLogEnabled="false" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <!-- Secrets (ILM_OIDC_CLIENT_SECRET, ILM_AUDIT_HMAC_KEY, ILM_SIEM_TOKEN) are injected at deploy time
               from the vault into the app pool environment, never written to this file. -->
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering removeServerHeader="true">
          <requestLimits maxAllowedContentLength="1048576" />
        </requestFiltering>
      </security>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
